---
// This page is intentionally disabled
// SouledFolks doesn't offer pricing tiers - everyone deserves compassionate support
---

<html>
<head>
  <meta http-equiv="refresh" content="0;url=/" />
</head>
<body>
  Redirecting...
</body>
</html>
